<div ng-controller="ProductController">		
	<form>
        <label>Name </label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <input type="text" name="name" ng-model="name" /><br>
        <label>Quantity </label>&nbsp&nbsp&nbsp&nbsp
        <input type="text" name="quantity" ng-model="quantity" /><br>
        <label>Price </label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <input type="text" name="price" ng-model="price" /><rb>
        <br/>
        <input type="hidden" ng-model="id" />
        <input type="button" value="Save" ng-click="saveProductthere()" class="btn btn-primary" />
    </form><br><br>
</div>